@define-color selected-text #8caaee;
@define-color text #c6d0f5;
@define-color base #323243;
@define-color border #c6d0f5;
@define-color foreground #c6d0f5;
@define-color background #11111b;

window .box-wrapper {
  background: @background;
  padding: 12px;
  color: @text;
  border: 2px solid @base;
  border-radius: 10px;
  margin: 0;
}

window .search-container {
  background: #1f1c31;
  border-radius: 8px;
}

window .placeholder {
  opacity: 0.4;
  color: @text;
}

window .input {
  color: @accent;
  padding: 0;
  font-weight: 300;
}

child {
  padding: 0 8px;
  background: transparent;
  border-radius: 0;
  border-left: 0px solid transparent;
  transition: all 160ms ease-in-out;
}

child:hover {
  background: linear-gradient(90deg, alpha(@accent, 0.08), transparent 80%);
  border-left: 2px solid alpha(@accent, 0.4);
}

child:selected {
  background: linear-gradient(90deg, alpha(@accent, 0.2), transparent 100%);
  /* background: #caa6f7; */
  border-radius: 4px; 
  color: #000000;
  border-left: 0px solid @accent;
}




